@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Potta+One&display=swap');


body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #F0EDCA;
}

header {
    background-color: #F0EDCA;
    color: #fff;
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header {
    background-color: #F0EDCA;
    color: #fff;
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

main {
    padding: 0;
    background-color: #F0EDCA;

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

section {
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    padding-top: 40px;
    padding-bottom: 60px;
}

.toys-with-purpose-logo {
    width: 15vw;
    height: auto;
}


.cta-button {
    background-color: #F19436;
    color: white;
    font-family: 'Potta One', cursive;
    font-size: 1.4rem;
    padding: 10px 50px;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.cta-buttons .cta-button {
    margin-left: 30px;
}

.cta-button:hover {
    background-color: #e08629;
}

.cta-button:active {
    transform: scale(0.92);
}


.section-title {
    text-align: center;
    font-family: 'Potta One', cursive;
    color: black;

    font-size: 2rem;
}

#hero{
    background-image: url('./assets/kid-laughing.jpg');
    background-size: cover;
    background-position: center;
    min-height: 300px;
}
#get-toys {
    background-color: #F0EDCA;
    position: relative;
}

#get-toys #toy-block {
    position: absolute;
}

#toys-have-purpose {
    background-color: #F0EDCA; 
}

#toys-have-purpose h4 {
    font-family: "Potta One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: #e08629;
    margin-top: 50px;
    margin-bottom: 1rem;
}

#toys-have-purpose p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 1.2rem;
    color: black;
}

#toys-have-purpose .small-text-block {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#get-in-touch {
    background-color: #F0EDCA;  
}

.large-text-block {
    font-family: 'Potta One', cursive;
    font-size: 2rem;
}

.large-text-block p {
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.wave-block {
    background-color: #F0EDCA;
    background-image: url('./assets/wave.png');
    background-size:cover;
    background-position: top;
    min-height: 250px;
}

.metrics {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.metric {
    background-color: #e08629;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    font-family: "Montserrat", sans-serif;
    font-style: bold;
    font-size: 2rem;
}

.contact-info {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 1.2rem;
    font-weight:400;

    margin-left: 80px;
}

.phone-contact-block {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 80px;
}


/* Hamburger */

.hamburger-line {
    width: 80px;
    height: 8px;
    background-color: #e4a853;
    margin: 10px 0;
}

.hamburger {
    display:none;
    margin-right: 40px;
    cursor: pointer;
}


/* Mobile Menu */

.mobile-menu {
    width: 25%;
    padding: 10px;
    background-color: #F0EDCA;
    position: absolute;  
    top: 20px;
    right: 20px; 

    border: 5px solid #e08629;
    border-radius: 10px;

    display: none;
}


.mobile-menu ul {
    color: #e08629;
    font-family: "Montserrat", sans-serif;
    font-style: bold;
    font-size: 2rem;

    padding-left: 0;
    margin: 0;
    padding: 0;

    margin-top: 40px;
    margin-bottom: 20px;

}

.mobile-menu li {
    list-style: none;
    padding: 5px;
    padding-left: 30px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 4vw;
}

.mobile-menu li:hover {
    background-color: #e08629;
    color: white;
}

#icon-x {
    color: #e08629;
    position: absolute;
    top: 1vw;
    right: 1vw;

    cursor: pointer;
}

.toggle-content {
    display: none; /* Hidden by default */
}

.toggle-content.show {
    display: block; /* Shown when .show class is added */
}

/* Tablet view */
@media screen and (max-width: 1280px) {
    .cta-buttons {
        display: none;
    }

    .hamburger {
        display:block;
    }
}

/* Phone view */
@media screen and (max-width: 769px) {
    
}